<ons-toolbar>
  <div class="left">
		<ons-toolbar-button (click)="openMenu()">
	  		<ons-icon icon="ion-navicon, material:md-menu"></ons-icon>
		</ons-toolbar-button>
  	</div>
  	<div class="center">{{title}}</div>
  	<div class="right">
		<ons-toolbar-button (click)="connect()">
			<ons-icon style="color: red;" icon="fa-link" *ngIf="connected"></ons-icon>
			<ons-icon icon="fa-unlink" *ngIf="!connected"></ons-icon>
		</ons-toolbar-button>
  	</div>
  
</ons-toolbar>
<div class="content">
	<p style="text-align: center">
		<ons-search-input placeholder="Search" material></ons-search-input>
	</p>	
	<ons-list>
		<ons-list-item *ngFor="let dbEntry of dbEntries" (click)="clicked(dbEntry.frequency)" modifier="chevron" tappable>
			<span class="list-item__subtitle"><b>Frequency:</b> <i>{{dbEntry.frequency}}</i></span>
			<span class="list-item__subtitle"><b>Band:</b> <i>{{dbEntry.band}}</i></span>
			<span class="list-item__subtitle"><b>Locations:</b> <i>{{dbEntry.locationCount}}</i></span>
		</ons-list-item>
	</ons-list>
</div>
<ons-speed-dial position="right bottom" direction="up">
	<ons-fab><ons-icon icon="md-plus"></ons-icon></ons-fab>
	<ons-speed-dial-item (click)="copy()">
  		<ons-icon icon="fa-clone"></ons-icon>
	</ons-speed-dial-item>
	<ons-speed-dial-item (click)="clearDB()">
	  <ons-icon icon="fa-trash"></ons-icon>
	</ons-speed-dial-item>
</ons-speed-dial>	