<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    id="cordova-plugin-potpie-location-service"
    version="1.0.0">

    <name>LocationPlugin</name>

    <engines>
        <engine name="cordova" version=">=3.2.0" />
    </engines>

    <js-module src="www/LocationService.js" name="LocationService">
        <clobbers target="window.locationService" />
    </js-module>
    
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="LocationService">
                <param name="ios-package" value="LocationService" />
                <param name="onload" value="true" />
            </feature>
        </config-file>
		
		<header-file src="src/ios/LocationService.h" />
        <source-file src="src/ios/LocationService.m" />

		<config-file target="*-Info.plist" parent="NSLocationAlwaysUsageDescription">
            <string>Location Service requires background location tracking</string>
        </config-file>

        <config-file target="*-Info.plist" parent="UIBackgroundModes">
            <array>
                <string>location</string>
            </array>
        </config-file>
    </platform>
</plugin>
